@model PastebookApp.Models.UserModel

<div class="container">
    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @using (Html.BeginForm("EditProfile", "Pastebook", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="editProfileModalLabel">Edit Your Account Profile</h4>
                    </div>
                    <div class="modal-body" id="footerModalEdit">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PROFILE_PIC, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    <div class="wrapper">
                                        @{
                                            var imgSrc = "";
                                            if (Model.PROFILE_PIC != null)
                                            {
                                                var base64 = Convert.ToBase64String(Model.PROFILE_PIC);
                                                imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                                <img id="imagePreview" src="@imgSrc" alt="Profile Picture" class="mainProfilePic img-circle" />
                                            }
                                            else
                                            {
                                                <img id="imagePreview" src="~/Content/Images/default_Male.png" alt="Profile Picture" class="mainProfilePic img-circle" />
                                            }
                                        }
                                    </div>
                                    <div id="inputFile">
                                        <input id="EditImagePath" type="file" name="file" accept="image/*"/>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.PROFILE_PIC, "", new { @class = "text-danger", id = "errorValidation" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ABOUT_ME, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.ABOUT_ME, new { htmlAttributes = new { @class = "form-control", id = "txtAreaAbout" } })
                                @Html.ValidationMessageFor(model => model.ABOUT_ME, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary editFooter">Save changes</button>
                    </div>
                    @Html.HiddenFor(model => model.BIRTHDAY);
                                            @Html.HiddenFor(model => model.COUNTRY_ID);
                                            @Html.HiddenFor(model => model.DATE_CREATED);
                                            @Html.HiddenFor(model => model.EMAIL);
                                            @Html.HiddenFor(model => model.FIRST_NAME);
                                            @Html.HiddenFor(model => model.GENDER);
                                            @Html.HiddenFor(model => model.ID);
                                            @Html.HiddenFor(model => model.LAST_NAME);
                                            @Html.HiddenFor(model => model.MOBILE_NO);
                                            @Html.HiddenFor(model => model.PASSWORD);
                                            @Html.HiddenFor(model => model.USER_NAME);
                                            @Html.HiddenFor(model => model.PROFILE_PIC);
                                            }
                @{ 
                    Model.PASSWORD = " ";
                    Model.CONFIRM_PASSWORD = " ";

                }
            </div>
        </div>
    </div>
</div>
