@model PastebookApp.Models.UserModel

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<div>
    <h4>UserEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @{
                var base64 = Convert.ToBase64String(Model.PROFILE_PIC);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }
            <img src="@imgSrc" />
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.USER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BIRTHDAY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BIRTHDAY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COUNTRY_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUNTRY_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOBILE_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOBILE_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GENDER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GENDER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ABOUT_ME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ABOUT_ME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

    </dl>
</div>
