@model IEnumerable<PastebookApp.PastebookService.User>

@{
    Session["page"] = "Search";
}
<div class="container" id="searchListContainer">
    <div>
        @if (Model.ToList().Count() > 0)
        {
            foreach (var item in Model)
            {
                <div class="searchContainer">
                    <div>
                        <span role="button" class="searchPic">
                            @{
                                var imgSrc = "";
                                if (item.PROFILE_PIC != null)
                                {
                                    var base64 = Convert.ToBase64String(item.PROFILE_PIC);
                                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                                    <img src="@imgSrc" alt="Profile Picture" class="mainProfilePic img-circle" onclick="location.href='@Url.Action("ViewProfile", "Pastebook", new { username = item.USER_NAME})'" />
                                }
                                else
                                {
                                    <img src="~/Content/Images/default_Male.png" alt="Profile Picture" class="mainProfilePic img-circle" onclick="location.href='@Url.Action("ViewProfile", "Pastebook", new { username = item.USER_NAME})'" />
                                }
                            }
                        </span>
                    </div>
                    <div id="searchContent">
                        <div class="searchItem">
                            <span><strong>@Html.DisplayFor(modelItem => item.USER_NAME)</strong></span>
                        </div>
                        <div class="searchItem">
                            <span>@Html.DisplayFor(modelItem => item.ABOUT_ME)</span>
                        </div>
                    </div>
                </div>
                                    }
                                }
                                else
                                {
                                    <div class="NoFriendContainer">
                                        <div>
                                            <h1 id="noResultsMessage">Sorry, <strong>no matches</strong> found</h1>
                                        </div>
                                    </div>
                                }
        
    </div>
</div>
