@model IEnumerable<PastebookApp.PastebookService.GetFriendsList_Result>

@{
    Session["page"] = "FriendsList";
}
<div class="container" id="friendListContainer">
    <div id="innerContainer">

        @if (Model.ToList().Count() > 0)
            {
            foreach (var item in Model)
                {
                <div class="friendContainer">
                    <div>
                        <span role="button" class="friendPic">
                            @{
                                var imgSrc = "";
                                if (item.PROFILE_PIC != null)
                                {
                                    var base64 = Convert.ToBase64String(item.PROFILE_PIC);
                                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    <img src=@imgSrc alt="Profile Picture" class="mainProfilePic img-circle" onclick="location.href='@Url.Action("ViewProfile", "Pastebook", new { username = item.USER_NAME})'" />
                                }
                                else
                                {
                                    <img src="~/Content/Images/default_Male.png" alt="Profile Picture" class="mainProfilePic img-circle" onclick="location.href='@Url.Action("ViewProfile", "Pastebook", new { username = item.USER_NAME})'" />
                                }
                            }
                        </span>
                    </div>
                    <div id="searchContent">
                        <div class="friendItem">
                            <span><strong>@Html.DisplayFor(modelItem => item.FIRST_NAME) @Html.DisplayFor(modelItem => item.LAST_NAME)</strong></span>
                        </div>
                        <div class="friendItem">
                            <span>@Html.DisplayFor(modelItem => item.ABOUT_ME)</span>
                        </div>
                    </div>
                </div>
                                }
                                }
                                else
                                {
                                    <div class="NoFriendContainer">
                                        <div>
                                            <h1 id="noFriendsMessage">You don't have any friends yet</h1>
                                        </div>
                                    </div>
                                }
    </div>
</div>
