@model PastebookApp.Models.UserModel
@Html.Partial("EditProfile")

@{
    Session["page"] = "Profile";
}
<div class="container">
    <div class="Banner">
        <div>
            @{
                var imgSrc = "";
                if (Model.PROFILE_PIC != null)
                {
                    var base64 = Convert.ToBase64String(Model.PROFILE_PIC);
                    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    <img src=@imgSrc alt="Profile Picture" class="viewMainProfile img-thumbnail" />
                }
                else
                {
                    <img src="~/Content/Images/default_Male.png" alt="Profile Picture" class="viewMainProfile img-thumbnail" />
                }
            }
        </div>
    </div>
    <div>
        @{
            if (Model.USER_NAME == Session["username"].ToString())
            {
                <button type="button" value="Edit Profile" class="btn btn-primary pull-right btnViewProfileOrStatus" onclick="EditProfile()">Edit Profile</button>
            }
            else
            {
                if (@ViewBag.FriendshipStatus == "Not Friends")
                {
                    <button type="button" value="Add Friend" class="btn btn-primary pull-right btnViewProfileOrStatus" onclick="CreateFriendRequest()">Add Friend</button>
                }
                else if (@ViewBag.FriendshipStatus == "Pending")
                {
                    <button type="button" value="Add Friend" class="btn btn-primary pull-right btnViewProfileOrStatus" disabled="disabled">Pending Request</button>
                }
                else if (@ViewBag.FriendshipStatus == "Confirm")
                {
                    <div class="dropdown pull-right btnViewProfileOrStatus">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuFriend" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Respond to Request
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuFriend">
                            <li><a href="#" onclick="RespondToFriendRequest(@Model.ID, true)"><span class="glyphicon glyphicon-ok"></span>Accept</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" onclick="RespondToFriendRequest(@Model.ID, false)"><span class="glyphicon glyphicon-remove"></span>Decline</a></li>
                        </ul>
                    </div>
                }

            }
        }
    </div>
    <div class="row" id="viewProfileDetails">
        <div class="col-md-4" id="profileDetails">
            <div class="dl-horizontal">
                <div id="usernameBig">
                    <strong>
                        @Html.DisplayFor(model => model.USER_NAME)
                    </strong>
                </div>
                <div id="emailView">
                    @Html.DisplayFor(model => model.EMAIL, new { htmlAttributes = new { @class = "emailSignup", id = "signEmail" , @readonly = true, disabled="disabled"} })
                </div>
                <div id="nameView">
                    Name: @Html.DisplayFor(model => model.FIRST_NAME) @Html.DisplayFor(model => model.LAST_NAME)
                </div>
                <div>
                    @{
                        if (Model.ABOUT_ME != null)
                        {
                            <p>"@Html.DisplayFor(model => model.ABOUT_ME)"</p>
                        }
                        else if (Model.USER_NAME == Session["username"].ToString())
                        {
                            <p>Tell us something about you</p>
                        }
                    }
                </div>
                <div>
                    <span class="glyphicon glyphicon-calendar"></span>
                    <span>Born on @Model.BIRTHDAY.ToString("MMM dd, yyyy")</span>
                </div>
                <div>
                    <span class="glyphicon glyphicon-gift"></span>
                    <span>Joined @Model.DATE_CREATED.ToString("MMM yyyy")</span>
                </div>
                @{
                    var country = (string)Session["country"];

                }
                <div>
                    <span class="glyphicon glyphicon-map-marker"></span>
                    <span>@country</span>
                </div>

                <div>
                    <span class="glyphicon glyphicon-phone-alt"></span>
                    <span>@Html.DisplayFor(model => model.MOBILE_NO)</span>
                </div>

                <div>
                    @{
                        if (Model.GENDER.Equals("M"))
                        {
                            <p>Male</p>
                        }
                        else if (Model.GENDER.Equals("F"))
                        {
                            <p>Female</p>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="postsPage">
                @{
                    if (@ViewBag.FriendshipStatus == "Friends" || Model.USER_NAME == Session["username"].ToString())
                    {
                        Html.RenderAction("ViewPosts", "Pastebook", new { ID = Model.ID });
                    }
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var postUrl = '@Url.Action("PublishPost", "Pastebook")';
        var commentOnPostURL = '@Url.Action("CommentOnPost", "Pastebook")';
        var likePostURL = '@Url.Action("LikePost", "Pastebook")';
        var reloadUrl = '@Url.Action("ViewPosts", "Pastebook", new { ID = Model.ID })';
        var createFriendRequestURL = '@Url.Action("SendFriendRequest", "Pastebook", new { friendID = Model.ID })';
        var respondToFriendRequestURL = '@Url.Action("RespondToFriendRequest", "Pastebook")';
    </script>
    <script type="text/javascript" src="~/Scripts/Post.js"></script>
    <script type="text/javascript" src="~/Scripts/Profile.js"></script>
}
