<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastebook</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @{
                    var page = "Index";
                    if (Session["username"] != null)
                    {
                        page = "Home";
                    }
                }
                @Html.ActionLink("Pastebook", @page, "Pastebook", new { area = "" }, new { @class = "navbar-brand" })
                <div class="form-inline pull-left">
                    @{
                        if (Session["username"] != null && Session["page"].ToString() != "Index")
                        {
                            <div class="navbar-form navbar-left" role="search" id="navSearch">
                                @using (Html.BeginForm("SearchUsers", "Pastebook", FormMethod.Post))
                                {
                                    <div class="form-group">
                                        <input type="text" class="form-control" name = "name" placeholder="Find other users here..." id="searchTxt">
                                    </div>
                                    <button type="submit" class="btn btn-default" id="btnSearch">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                }
                            </div>
                            <ul class="nav navbar-nav">
                                <li class="homeNav navLink" id="navUser">
                                    <a class="navbar-brand stringNav">
                                        <span class="navLink">@Html.ActionLink((string)Session["username"], "ViewProfile", "Pastebook", new { username = (string)Session["username"] }, null)</span>
                                    </a>
                                </li>
                                <li class="homeNav">
                                    <a class="navbar-brand stringNav navLink" id="navFriends">
                                        <span >@Html.ActionLink("Friends", "ViewFriendList", "Pastebook")</span>
                                    </a>
                                </li>
                                <li class="homeNav">
                                    <a class="navbar-brand " href="@Url.Action("Home", "Pastebook")">
                                        <span class="glyphicon glyphicon-home"></span>
                                    </a>
                                </li>
                                <li class="dropdown homeNav">
                                    <a class="dropdown-toggle navbar-brand" data-toggle="dropdown" href="#" onclick="showNotif()">
                                        <span class="glyphicon glyphicon-globe"></span>
                                        <span class="badge" id="notifBadge"></span>
                                    </a>
                                    <ul class="dropdown-menu" id="notifDropdown"></ul>
                                </li>
                                <li class="homeNav">
                                    <a class="navbar-brand" href="@Url.Action("#")">
                                        <span class="glyphicon glyphicon-user"></span>
                                        <span class="glyphicon glyphicon-plus" id="addFriend"></span>
                                    </a>
                                </li>
                                <li class="homeNav">
                                    <a class="navbar-brand" href="@Url.Action("Settings", "Pastebook")">
                                        <span class="glyphicon glyphicon-cog"></span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav pull-right">
                                <li class="login">
                                    <button type="submit" class="btn btn-primary" id="btnLogoutHome" onclick="location.href='@Url.Action("Logout", "Pastebook")'">Log Out</button>
                                </li>
                            </ul>
                        }
                    }
                </div>
            </div>

            <div class="form-inline pull-right">
                <ul class="nav navbar-nav">
                    @RenderSection("RightSide", required: false)
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Pastebook.com</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
    <script>
        var notifUrl = '@Url.Action("Notifications", "Pastebook")';
        function showNotif() {
            $("#notifDropdown").load(notifUrl);
        }
    </script>
</body>
</html>
