@model PastebookApp.Models.SignupViewModel


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-5 pull-left">
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.login.email, new { htmlAttributes = new { @class = "form-control", placeholder = "john_doe@google.com" } })
                    </div>
                </div>
            </div>
            <div class="col-md-5 pull-left">
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.login.password, new { htmlAttributes = new { @class = "form-control", placeholder = "password" } })
                    </div>
                </div>
            </div>
            <div class="col-md-2 pull-left">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
